# Validación ETL

## 1. Instalación de librerías

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

#Elimino posibles warnings
import warnings
warnings.filterwarnings('ignore')

# Comment this if the data visualisations doesn't work on your side
%matplotlib inline


#Mostrar todas las columnas de un dataframe
pd.set_option('display.max_columns', None)

## 2. Importación data

In [2]:
#Seleccionar ruta de la data
dataframe = pd.read_csv(r'C:\GIT_Cumplimiento\epic\EPIC003\data\modeling\01_raw.csv', encoding='latin')
#Reviso filas y columnas
dataframe.shape

(54558, 11)

## 3. Validaciones de la data

In [3]:
# Visualización general de la tabla
dataframe.head()

,ï»¿PERIODO,CODCLAVECIC,NBRCLIORDENANTE,SEGMENTO,MTO_TRANSF,CTD_OPE,FLG_PEP,FLG_PROF,FLG_PAR,FLG_PERFIL,CTDEVAL
0,202206,812,CORTES DE POLAR SANDRA MIRIAN,ENALTA,100000.00,1,0,1,2,0,0
1,202204,898,FORNO CASTRO-POZO XENNIA MARIA,ENALTA,5416.06,1,0,0,0,0,0
2,202207,961,INOPE MANTERO CARLOS ALBERTO,ENALTA,1218.52,1,0,0,0,0,1
3,202209,961,INOPE MANTERO CARLOS ALBERTO,ENALTA,3703.35,1,0,0,2,0,1
4,202210,1006,STOCKHOLM BARRIOS CHRISTIAN,ENALTA,100000.00,1,0,0,0,0,2

In [4]:
#Reviso nombre de columnas
dataframe.columns

Index(['ï»¿PERIODO', 'CODCLAVECIC', 'NBRCLIORDENANTE', 'SEGMENTO',
       'MTO_TRANSF', 'CTD_OPE', 'FLG_PEP', 'FLG_PROF', 'FLG_PAR', 'FLG_PERFIL',
       'CTDEVAL'],
      dtype='object')

In [5]:
#Corrijo nombre de variable PERIODO
dataframe.rename(columns = {'ï»¿PERIODO':'PERIODO'}, inplace = True)

In [6]:
#Valido cantidad de casos por periodo
dataframe['PERIODO'].value_counts().sort_index()

202204    7165
202205    7924
202206    7539
202207    7127
202208    8792
202209    8320
202210    7691
Name: PERIODO, dtype: int64

In [7]:
#Descriptivos básicos para validar, mínimo, máximos y percentiles
dataframe.describe()

,PERIODO,CODCLAVECIC,MTO_TRANSF,CTD_OPE,FLG_PEP,FLG_PROF,FLG_PAR,FLG_PERFIL,CTDEVAL
count,54558.000000,5.455800e+04,5.455800e+04,54558.000000,54558.000000,54558.000000,54558.000000,54558.000000,54558.000000
mean,202207.066406,7.887036e+06,2.304869e+04,1.320540,0.016295,0.340537,0.876755,0.042524,0.509623
std,1.984093,8.002663e+06,2.089800e+05,0.874583,0.126607,0.473894,0.977741,0.201782,2.819861
min,202204.000000,8.120000e+02,1.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,202205.000000,1.633341e+06,1.495000e+03,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,202207.000000,4.884700e+06,4.700000e+03,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,202209.000000,1.208545e+07,1.300000e+04,1.000000,0.000000,1.000000,2.000000,0.000000,0.000000
max,202210.000000,2.806231e+07,2.500892e+07,36.000000,1.000000,1.000000,2.000000,1.000000,166.000000

In [8]:
#Tabla anterior sin notación científica con solo 2 decimales para facilitar entendimiento
dataframe.describe().apply(lambda s: s.apply('{0:.2f}'.format))

,PERIODO,CODCLAVECIC,MTO_TRANSF,CTD_OPE,FLG_PEP,FLG_PROF,FLG_PAR,FLG_PERFIL,CTDEVAL
count,54558.00,54558.00,54558.00,54558.00,54558.00,54558.00,54558.00,54558.00,54558.00
mean,202207.07,7887035.64,23048.69,1.32,0.02,0.34,0.88,0.04,0.51
std,1.98,8002662.77,208979.99,0.87,0.13,0.47,0.98,0.20,2.82
min,202204.00,812.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00
25%,202205.00,1633341.00,1495.00,1.00,0.00,0.00,0.00,0.00,0.00
50%,202207.00,4884700.00,4700.00,1.00,0.00,0.00,0.00,0.00,0.00
75%,202209.00,12085449.50,13000.00,1.00,0.00,1.00,2.00,0.00,0.00
max,202210.00,28062307.00,25008920.00,36.00,1.00,1.00,2.00,1.00,166.00

In [29]:
dataframe.loc[(dataframe['SUMA_MONTO_DOLAR']>2000000)].to_clipboard(excel=True)

In [9]:
#REviso si hay casos null
dataframe.isnull().sum()

PERIODO            0
CODCLAVECIC        0
NBRCLIORDENANTE    0
SEGMENTO           0
MTO_TRANSF         0
CTD_OPE            0
FLG_PEP            0
FLG_PROF           0
FLG_PAR            0
FLG_PERFIL         0
CTDEVAL            0
dtype: int64

In [11]:
#Pinto más decimales para revisar distribución
dataframe.describe([.05,.1,.25,.5,.75,.9,.95,.99]).round(2).transpose()

,count,mean,std,min,5%,10%,25%,50%,75%,90%,95%,99%,max
PERIODO,54558.0,202207.07,1.98,202204.0,202204.00,202204.0,202205.0,202207.0,202209.0,202210.0,202210.0,202210.0,202210.0
CODCLAVECIC,54558.0,7887035.64,8002662.77,812.0,144729.00,262306.3,1633341.0,4884700.0,12085449.5,22466971.4,24583135.4,27297622.0,28062307.0
MTO_TRANSF,54558.0,23048.69,208979.99,1.0,247.13,500.0,1495.0,4700.0,13000.0,37500.0,75000.0,280494.5,25008920.0
CTD_OPE,54558.0,1.32,0.87,1.0,1.00,1.0,1.0,1.0,1.0,2.0,3.0,5.0,36.0
FLG_PEP,54558.0,0.02,0.13,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
FLG_PROF,54558.0,0.34,0.47,0.0,0.00,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
FLG_PAR,54558.0,0.88,0.98,0.0,0.00,0.0,0.0,0.0,2.0,2.0,2.0,2.0,2.0
FLG_PERFIL,54558.0,0.04,0.20,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
CTDEVAL,54558.0,0.51,2.82,0.0,0.00,0.0,0.0,0.0,0.0,1.0,2.0,11.0,166.0

In [12]:
#Verifico que existan casos de profesión de riesgo
dataframe['FLG_PROF'].value_counts()

0    35979
1    18579
Name: FLG_PROF, dtype: int64

In [13]:
#Verifico que existan casos de países de riesgo
dataframe['FLG_PAR'].value_counts()

0    29854
2    23130
1     1574
Name: FLG_PAR, dtype: int64

In [16]:
#Verifico que existan casos fuera de perfil
dataframe['FLG_PERFIL'].value_counts()

0    52238
1     2320
Name: FLG_PERFIL, dtype: int64