In [70]:
import pandas as pd 
import numpy as np 
import math

In [71]:
#Seleccionar ruta de la data
dataframe = pd.read_csv('reporte.csv', encoding='latin')
dataframe.shape

(3480, 28)

In [72]:
dataframe.head()

,,CODCLAVECICBENEFICIARIO,CODCLAVECICSOLICITANTE,PERIODO,FECDIA,HORINITRANSACCION,CODSUCAGE,CODSESION,CODINTERNOTRANSACCION,CODTRANSACCIONVENTANILLA,...,TIPPER_SOLICITANTE,DESBANCA_BENEFICIARIO,DESBANCA_SOLICITANTE,FECONS_BENEFICIARIO,FECONS_SOL,FLG_AN_BENEFICIARIO,FLG_AN_SOLICITANTE,FLG_REL,FLG_ROS_BEN,FLG_ROS_SOL
0,1,4459169.0,624641.0,202002,14/02/2020,13:01:12,395000,260,9.022110e+11,117,...,P,BANCA PERSONAL,BANCA PERSONAL,03/11/2003,NaN,0,0,1,0,0
1,2,31424.0,31424.0,202006,23/06/2020,12:34:28,435000,65,8.007080e+11,60,...,P,BANCA PERSONAL,BANCA PERSONAL,NaN,NaN,0,0,0,0,0
2,3,306410.0,306410.0,202002,28/02/2020,14:45:36,215005,400,9.022180e+11,84,...,P,BANCA PERSONAL,BANCA PERSONAL,NaN,NaN,0,0,0,0,0
3,4,5102015.0,5102015.0,202007,21/07/2020,17:03:44,285000,585,9.022470e+11,87,...,P,BANCA PERSONAL,BANCA PERSONAL,NaN,NaN,0,0,0,0,0
4,5,8433347.0,5758727.0,202008,21/08/2020,11:45:47,585000,92,8.007360e+11,117,...,P,EMPRESA,BANCA PERSONAL,28/04/2010,NaN,0,0,0,0,0

In [73]:
dataframe.columns

Index(['   ', 'CODCLAVECICBENEFICIARIO', 'CODCLAVECICSOLICITANTE', 'PERIODO',
       'FECDIA', 'HORINITRANSACCION', 'CODSUCAGE', 'CODSESION',
       'CODINTERNOTRANSACCION', 'CODTRANSACCIONVENTANILLA',
       'DESTRANSACCIONVENTANILLA', 'ACTV_BENEFICIARIO', 'TIPPER_BENEFICIARIO',
       'FLG_FFNN_BENEFICIARIO', 'FLG_FFNN_SOLICITANTE',
       'TIPBANCA_BENEFICIARIO', 'TIPBANCA_SOLICITANTE', 'MTOTRANSACCION',
       'TIPPER_SOLICITANTE', 'DESBANCA_BENEFICIARIO', 'DESBANCA_SOLICITANTE',
       'FECONS_BENEFICIARIO', 'FECONS_SOL', 'FLG_AN_BENEFICIARIO',
       'FLG_AN_SOLICITANTE', 'FLG_REL', 'FLG_ROS_BEN', 'FLG_ROS_SOL'],
      dtype='object')

In [74]:
dataframe['PERSONA_BEN']=0
dataframe.loc[(dataframe['DESBANCA_BENEFICIARIO']== 'BANCA PERSONAL                     '),'PERSONA_BEN']=1

dataframe['EMPRESA_BEN']=0
dataframe.loc[(dataframe['DESBANCA_BENEFICIARIO']== 'EMPRESA                            '),'EMPRESA_BEN']=1

dataframe["FLG_NOREL"]=np.where(dataframe["FLG_REL"]==1,0,1)

In [75]:
columnas_numericas = ['MTOTRANSACCION']
columnas_categoricas = ['PERSONA_BEN','EMPRESA_BEN','FLG_NOREL','FLG_ROS_BEN','FLG_ROS_SOL']
name_colum_periodo = ['PERIODO']

In [76]:
df_0 = dataframe.sample(frac = 0.7,random_state=7)
df_t = dataframe.drop(df_0.index)
df_0.reset_index(drop=True)
df_t.reset_index(drop=True)

,,CODCLAVECICBENEFICIARIO,CODCLAVECICSOLICITANTE,PERIODO,FECDIA,HORINITRANSACCION,CODSUCAGE,CODSESION,CODINTERNOTRANSACCION,CODTRANSACCIONVENTANILLA,...,FECONS_BENEFICIARIO,FECONS_SOL,FLG_AN_BENEFICIARIO,FLG_AN_SOLICITANTE,FLG_REL,FLG_ROS_BEN,FLG_ROS_SOL,PERSONA_BEN,EMPRESA_BEN,FLG_NOREL
0,6,1598493.0,1598493.0,202007,23/07/2020,10:34:06,191006,91,9.022480e+11,87,...,NaN,NaN,0,0,0,0,0,1,0,1
1,7,14772.0,2936429.0,202001,24/01/2020,10:02:25,200000,61,9.022010e+11,115,...,24/05/1996,NaN,0,0,0,0,0,0,0,1
2,11,407038.0,22544310.0,202006,23/06/2020,16:43:36,390001,349,9.022420e+11,117,...,18/04/2000,NaN,0,0,0,0,0,0,1,1
3,12,539293.0,539293.0,202002,10/02/2020,15:49:56,245001,464,9.022090e+11,60,...,NaN,NaN,0,0,0,0,0,1,0,1
4,15,5986012.0,1935132.0,202008,31/08/2020,12:19:32,205000,158,9.022560e+11,62,...,01/03/2007,NaN,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,3468,7071429.0,1943979.0,202004,14/04/2020,10:58:55,285000,155,9.022300e+11,117,...,09/07/2008,NaN,0,0,1,0,0,0,1,0
1040,3472,7071429.0,1943979.0,202009,01/09/2020,12:11:16,285000,211,9.022560e+11,117,...,09/07/2008,NaN,0,0,1,0,0,0,1,0
1041,3473,7071429.0,1943979.0,202008,31/08/2020,14:54:34,285000,344,9.022560e+11,117,...,09/07/2008,NaN,0,0,1,0,0,0,1,0
1042,3475,13519041.0,3393717.0,202001,06/01/2020,11:09:31,305004,142,9.021930e+11,107,...,20/10/2014,NaN,0,0,1,0,0,1,0,0
1043,3477,7849205.0,NaN,202008,18/08/2020,14:10:31,200000,279,9.022530e+11,62,...,12/08/2009,NaN,0,0,0,0,0,1,0,1

In [77]:
df_t['PERIODO']=202010

In [78]:
#df_0=dataframe.loc[(dataframe['PERIODO']<202112)].reset_index(drop=True)

In [66]:
#df_t=dataframe.loc[(dataframe['PERIODO']==202112)].reset_index(drop=True)

In [67]:
def stability_function(df_0,df_t,columnas_numericas,columnas_categoricas,name_colum_periodo):
    #df : dataframe
    #columnas_numericas : variables continuas
    #columnas_categoricas : variables categÃ³ricas, flags
    #name_colum_periodo : nombre de la columna del periodo a evaluar
    rows_flg = []
    rows_psi = []
    rows = []
    rows2 = []
    rows3 = []
    rows4 = []
    rows5 = []
    columnas_total=columnas_numericas+columnas_categoricas
    for i in columnas_total:
        print(i)
        A = df_0[[i]]
        B = df_t[[i]] #poner aqui el df de la base de miguel 
        TotalRowsA = A.shape[0]
        TotalRowsB = B.shape[0]
        MissingA=A[i].isnull().sum()/TotalRowsA
        MissingB=B[i].isnull().sum()/TotalRowsB
        if i in columnas_numericas:
            A['corte'],bins  = pd.qcut(A[i], q = 5,retbins=True, duplicates='drop')       
            bins[0] = -math.inf
            bins[len(bins)-1] = math.inf
            A['corte'], h  = pd.cut(A[i], bins = bins,retbins = True)
            B['corte'], h  = pd.cut(B[i], bins = bins,retbins = True)
            A = (A['corte'].value_counts()/ TotalRowsA).to_frame().sort_index()
            B = (B['corte'].value_counts()/ TotalRowsB).to_frame().sort_index()
            values_1 = list(A['corte'].values)
            values_2 = list(B['corte'].values)
        else :
            A = (A[i].value_counts()/ TotalRowsA).to_frame().sort_index()
            B = (B[i].value_counts()/ TotalRowsB).to_frame().sort_index()
            C = pd.concat([A,B], axis= 1)
            B = C.iloc[: , 1:].fillna(0)
            values_1 = list(A[i].values)
            values_2 = list(B[i].values)
            
        categorias = list(A.index.values)
        rows2.append('Missing')
        rows3.append(MissingA)
        rows4.append(MissingB)
        if i in columnas_numericas:
            for h in range(len(categorias)):
                rows2.append(('('+str(categorias[h].left)+','+str(categorias[h].right)+')'))
        else :
            for j in categorias:
                rows2.append(j)
        for j in values_1:
            rows3.append(j)
        for j in values_2:
            rows4.append(j)
        
        PSI = (A-B)*np.log(A/B)
        PSI_i=PSI.replace([np.inf, -np.inf],0.2)
        PSI = PSI_i.sum(axis = 0, skipna = True)
        PSI = PSI[0]
        rows.append(PSI)
        
        for j in categorias:
            rows_flg.append(i)
            rows_psi.append(PSI)
        rows_flg.append(i)
        rows_psi.append(PSI)
        #rows5=rows5+PSI_i.iloc[:,0].tolist()
    periodo=df_t[name_colum_periodo][0]
    CATEGORIAS_DF = pd.DataFrame({'PERIODO':periodo,
                                  'DISTRIBUCIÃ“N MODELAMIENTO':rows3,
                                  'DISTRIBUCIÃ“N ACTUAL':rows4,
                                  'CATEGORIAS':rows2,
                                  'VARIABLES':rows_flg,
                                  #'PSI_i':rows5,
                                  'PSI':rows_psi})
    
    conditions = [
    (CATEGORIAS_DF['PSI'] < 0.1),
    (CATEGORIAS_DF['PSI'] >= 0.1) & (CATEGORIAS_DF['PSI'] < 0.2),
    (CATEGORIAS_DF['PSI'] >= 0.2)
    ]

    # create a list of the values we want to assign for each condition
    values = ['ESTABLE', 'LIGERA INESTABILIDAD', 'INESTABLE']

    # create a new column and use np.select to assign values to it using our lists as arguments
    CATEGORIAS_DF['RESULTADO'] = np.select(conditions, values)
    CATEGORIAS_DF=CATEGORIAS_DF[['PERIODO','VARIABLES','CATEGORIAS','DISTRIBUCIÃ“N MODELAMIENTO','DISTRIBUCIÃ“N ACTUAL',
                                 #'PSI_i',
                                 'PSI','RESULTADO']]
    return(CATEGORIAS_DF,periodo)

In [68]:
salida, periodo = stability_function(df_0,df_t,columnas_numericas,columnas_categoricas,'PERIODO')

MTOTRANSACCION
PERSONA_BEN
EMPRESA_BEN
FLG_NOREL
FLG_ROS_BEN
FLG_ROS_SOL

<ipython-input-67-08f5371853c8>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A['corte'],bins  = pd.qcut(A[i], q = 5,retbins=True, duplicates='drop')
<ipython-input-67-08f5371853c8>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A['corte'], h  = pd.cut(A[i], bins = bins,retbins = True)
<ipython-input-67-08f5371853c8>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  B['corte'], h  = pd.cut(B[i], bins = bins,retbins = True)

In [69]:
salida.to_excel("RESULTADOS_"+str(periodo)+".xlsx")